.instagram
	ul
		text-align: center;
		li
			display inline-block
			width 200px
			opacity 0.9
			border: solid 2px white;
			vertical-align: middle;
			&:hover, &:active
				opacity 1
			img
				display block
				width 100%
				height auto
