.mailchimp
	display: block;
	text-align: center;
	.title
		text-decoration none
	ul
		list-style none
		display: inline-block;
		margin: 0 auto;
		text-align: left;
		li
			margin-bottom 40px
			min-height: 136px;
	h3
		margin 0px 0 10px 0
		display: inline-block;
		font-size 18px
	h4
		font-size 12px
		color black
		color lighten(black,45%)
		margin 0 0 5px 0
	p
		margin-bottom 10px
		line-height 24px
		max-width: 720px;

	.more
		display inline-block
		color lighten(black,45%)
		margin-bottom 30px
		text-transform capitalize
		font-size: 14px;
	.img-container
		width: 100px
		height 100px;
		overflow hidden
		float:left;
		position relative
		margin 7px 20px 50px 40px
	.post-img
		display block
		width auto
		height 100px

