.news
	.centered
		text-align center
		margin 20px 50px 80px 50px

	margin: 50px auto 20px auto;
	.twitter.morgondag, .twitter.rymdresa
		text-align center
		max-width 80%
		margin 0 auto 80px auto
		.content
			display block
			font-size 26px
			line-height 36px
			margin-bottom 16px
		time, .name
			display inline-block
			text-decoration none
			font-size 16px
			color lighten(black,45%)
		time
			padding 0 5px 0 0
	.twitter.rymdresa
		margin 80px auto 80px auto
	.signup
		.btn
			font-size 18px
			border: solid 1px black;
			margin: 0 5px;
			background: white;
			padding: 5px 10px;
			text-decoration none;

			&:hover
				background #4b4d4a
				color #fff;
		.tack
			margin 10px
.list
	max-width 1200px
	margin 0 auto
	color black
	h3
		font-size 18px
		line-height 20px
		margin-bottom 5px
	li
		margin 0 0 20px 0
		padding 10px 0 0 0
		a
			text-decoration none
			color black
			display inline-block

			&:hover
				text-decoration underline
		p
			color black
	.btn
		max-width 200px
		cursor pointer

