.newletter
	max-width: 850px;
	span,p
		font-size 16px !important
	h1
		margin-bottom: 10px !important;
	.mcnTextContentContainer
		border none !important
	.mcnDividerBlockInner
		display none
	img.mcnImage
		max-width 100% !important
		display block !important;