.pixelart
	text-align center
	width 100%
	border-top: solid 1px bc
	border-bottom: solid 1px bc
	padding 2em
	ul
		width 80%
		max-width: 1250px;
		margin: 20px auto;
	li
		display inline-block
		width 250px
		height 150px
		position relative
		overflow hidden
		vertical-align: middle;
		border: solid 2px white;

		a

		img
			display block
			position absolute
			left -50%
			margin: 0 0 0 75px;
			width 150%
			height auto;
	.more
		display inline-block
		text-decoration none
		margin 1em auto
		&:hover
			text-decoration underline