


.div-of-love
	text-align center
	h1
		animation: hearth 0.5s linear infinite
		padding-top 20px
		margin 0

.signup

	img
		margin-bottom 10px

	.box
		display block
		*
			display inline-block
	h1
		animation: hearth 1s linear infinite
		margin-bottom 10px
	p.msg
		font-size 1.2em
		max-width 700px
		margin 0 auto 20px auto
		line-height 1.4em
	em
		font-style italic
		color bc
	input
		height 40px
		padding 10px
		font-weight bold
		border solid 2px black
		font-size 16px
		margin 5px
		font-family: 'OpenSansSemibold';
		border-radius 2px
		min-width 240px
	input[type="submit"]
		color white
		font-weight bold
		min-width 160px
		text-transform uppercase
		animation: pulseBtn 4s linear infinite
		cursor pointer
		background none;
		border-radius 2px;
		padding 10px 0
		height 50px
		line-height 30px
		margin-bottom 16px
		vertical-align top

@keyframes hearth{
	0%{
		color: #f34788

	}
	50%{
		color: darken(#f34788,50%)
	}
	100%{
		color: #f34788
	}
}

@keyframes pulseBtn{
	0%{
		background: #de4c16
		border solid 2px darken(#de4c16,25%)
	}
	25%{
		background: #b9e1dc
		border solid 2px darken(#b9e1dc,25%)
	}
	50%{
		background: #66a098
		border solid 2px darken(#66a098,25%)
	}
	100%{
		background: #de4c16
		border solid 2px darken(#de4c16,25%)
	}
}
