.social
	text-align center
	margin-bottom 200px
	margin-top 100px
	ul
		li
			display inline-block
			margin 10px
			a
				display block
				text-transform capitalize
				text-decoration none

				&:hover, &:active
					text-decoration underline
