@import reset
@import fonts
@import variables
@import anims
@import base

@import head
@import news
@import mailchimp

@import terminal-news
@import pixelart


@import instagram

@import newsletter
@import social
@import modifiers
@import youtube
@import twitter
@import team
@import develop
@import campaign

.tweet
	padding: 0 0 0 85px;
	margin-bottom: 14px;


@media (max-width: 1440px)
	header .slogan
		top: 330px;
	.instagram
		width 100%;
	section.main
		margin-top: -100px
@media (max-width: 1200px)
	.news
		width: 80%
	.twitter
		width: 80%
@media (max-width: 1124px)
	twitter
		padding-left 10px
		padding-right 10px
	twitter time, twitter .profile img
		margin-left 0px
	.column-cards li
		height: 300px;

@media (max-width: 960px)
	.team
		width 90%
	.column-cards li
		height: 200px;
@media (max-width: 800px)
	.news
		width: 100%
	header .logo
		height 200px
	.column-cards li
		height 200px
@media (max-width: 700px)
	.mailchimp .img-container
		margin 3px 10px 10px 5px
	.mailchimp h3
		margin: 0px 0 10px 0;
		display: inline-block;
		font-size: 18px;
		word-break: break-word;
		width: 60%;
	.mailchimp p
		padding-left: 115px;
		padding-right: 15px;
		min-height: 50px;
	.mailchimp .more
		margin: 0 0 15px 115px;

@media (max-width: 640px)
	.column-cards li
		height: 200px;
	.column-cards
		display block
		text-align: center;
		li
			width 80%
			max-width 100%
			margin 0 auto
			padding 0
			height: 300px
			margin-bottom: 65px;

@media (max-width: 600px)
	.left, .right
		width 100%
		float none

	.mailchimp .more
		display none
	.team
		width 100%
		padding: 10px
		.twitter
			margin: 0;
			padding: 0;

	.instagram
		width 100%
		ul li
			width: 50%;
@media (max-width: 510px)
	.column-cards li
		height 200px
		margin-bottom: 65px;
@media (max-width: 414px)
	section
		width 90%
		padding: 0
	.develop
		margin-top: 0px;
	.pixelart
		width 100%
		ul
			width 100%
			max-width initial
		li
			width 100%
			height: 215px;

			img
				left: initial
				margin:0
				width 100%
				height auto
	.thumbs li
		width: 150px;
		height: 100px;

	.develop ul li
		font-size: 17px;
@media (max-width: 480px)
	.twitter time
		margin-left 0px
	.twitter
		width 100%
		padding:0 40px;
	.twitter .profile
		display none
	.tweet
		padding 5px

@media (max-width: 475px)
	.twitter_morgondag
		display none
@media (max-width: 418px)
	section.main
		margin-top: -75px;
	.news .signup input
		margin: 1em auto;
		display: block;
		width: 90%
		text-align: center;

	.develop ul li
		font-size: 15px;
	.youtube
		padding: 0;
		padding-bottom: 40px
		li
			margin 0
@media (max-width: 375px)
	.column-cards li
		height: 175px;
		width: 100%;
@media (max-width: 348px)
	section.main
		margin-top: -176px;
		padding-bottom: 2px;
	.thumbs li
		width 100px
		height 86px
		margin 0 14px
	.youtube li
		display block
		overflow hidden
	.youtube h3
		width initial
	.develop ul li
		font-size 13px
		margin 0 5px
