.team
	margin: 10px auto 50px auto;
	max-width: 1000px
	h3
		margin 10px 0 10px 0
	.twitter
		margin 40px 0 0 0px
		time
			margin 0 0 0 0
		img
			margin 5px 14px 0 0px
	p
		margin 0 0 10px 0
	a
		text-decoration none
		&:hover
			text-decoration underline