
.youtube
	width 100%
	border-top: solid 1px bc
	border-bottom: solid 1px bc
	text-align: center;
	padding 2em
	h3
		padding: 10px;
		background: rgba(255,255,255,0.9);
		margin: -60px 0 20px 0;
		position: absolute;
		width: 320px;
		text-align: center;
		line-height: 17px;
		transition all linear 150ms
	ul
		width: 100%;
		text-align: center;
		margin: 20px auto;

	li
		display inline-block
		margin: 0 20px 20px 20px;
		border solid 3px white

		&:hover h3
			background black
			color white;
	.more
		display inline-block
		text-decoration none
		&:hover
			text-decoration underline